<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>New Recommendations</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

  </head>
<body>
  

<button class="new_rec_btn" id="new-rec"> <a href = '/recs/new'> Add New Rec </a></button>

<div class = "recommendations"> 

<h1> Recent Recs </h1>
  
        <div class = "rec">
           <% @recs.each do |r| %>
            <div class = "rec-user">
              <h3> <%= r.user.username %>
               Recommends: </h3>
            </div>


    <div class = "row"> 
        <div class="col-md-6">
          <div class = "song-info">
              <h4> <%= r.title %> </h4>
              <h4> <%= r.artist %> </h4> 
              <iframe src="https://embed.spotify.com/?uri=<%=r.uri%>" width="300" height="80" frameborder="0" allowtransparency="true"></iframe>
          </div>
        </div>
            
        <div class="col-md-6">
        <br/>
        <h4>They say it's:</h4>
          <div class = "tags">
          <h5>
            <%r.tags.each do |tag| %>
              <%= tag.tag %>
              <%end%>
          </div>
          </h5>
        </div>
    </div>
         <%end%>  
       </div>
</div>


 




    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>



