<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
	<link rel="stylesheet" href="">
</head>
<body>

user profile page,
if own users page, has the edit option show up


<% @user.each do |user| %>
<h1> <%= user.username %></h1>

<div class = "user_image">
<img src = "<%= user.image %> "/>
</div>

<%= user.top_5%>

<% end %>

<% @current_favs.each do |fav| %>
	<h3> <%= fav.title %> </h3>
		<h3> <%= fav.artist %> </h3>
		<iframe src="https://embed.spotify.com/?uri=<%=fav.uri%>" width="300" height="80" frameborder="0" allowtransparency="true"></iframe>
		<%end%>





</body>
</html>



